<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="text-align: center">Human Resource Management System </ion-title>
  </ion-navbar>

  <div style="text-align: right">
      Welcome:{{firstName}} &nbsp;&nbsp;&nbsp;
      <button style="border-radius: 3px;background-color:#488aff;color: white;" (click) ="Logout()" >Log Out</button>
  
    </div>
</ion-header>

<ion-content padding>


  <div style="margin-top: 75px;text-align: center">
    <fieldset fieldset style="width: 393px;margin: auto">
      <legend style="text-align: left">
        <h3>Manage Password</h3>
      </legend>
      <h4>Change Password</h4>
      <label>All Fields with asterick (<label style="color: red">*</label>) are Compulsory </label><br>
      <br>
      <label>Old Password:</label><label style="color: red;">*</label>
      <input type="text" [(ngModel)]="oldPassword" (focus)="oldFocus()" placeholder="Old Password" style="border-radius: 5px;margin-left: 30px;" />
      <div *ngIf="oldPassError" style="color: red; margin-left: 87px; height: 0px;">Enter Old Password </div>
      <div *ngIf="wrongOldPassError" style="color: red; margin-left: 97px; height: 0px;">Wrong old Password </div>

      <br>
      <br>
      <label>New Password:</label><label style="color: red;">*</label>
      <input type="text" [(ngModel)]="newPassword" (focus)="newFocus()" placeholder="New Password" style="border-radius: 5px;margin-left: 22px;" />
      <div *ngIf="newPassError" style="color: red; margin-left: 95px; height: 0px;">Enter New Password </div>

      <br>
      <br>
      <label>Confirm Password:</label><label style="color: red;">*</label>
      <input type="text" [(ngModel)]="confirmPassword" (focus)="confirmFocus()" placeholder="Confirm New Password" style="border-radius: 5px" />
      <div *ngIf="confirmPassError" style="color: red; margin-left: 111px; height: 0px;">Confrim New Password </div>

      <div *ngIf="passMustError" style="color: red; margin-left: 111px; height: 0px;">Passwords must match </div>

      <br>
      <div *ngIf="successChange" style="color:green; margin-left: 111px; height: 0px;">Successfully Changed </div>
      <br>
      <br>
      <button (click)="changePassword()" style="border-radius: 5px;height: 30px;  width: 150px;margin-left: 114px;">Change Password</button>
    </fieldset>
  </div>

</ion-content>